<nav class="sidemenu">
    <ul>
        <li routerLink="/home">
            <img src="../../../assets/logo.png" width="40px">
            <span class="logo">Crud Users</span>
        </li>
        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerLink="/crud"><mat-icon>person_add</mat-icon>Cadastrar usuários</li>
        <a href="https://firebase.google.com/docs?gad_source=1&gclid=CjwKCAiA75itBhA6EiwAkho9ex04jg4wXTfSH2LvFraKnYhKO1M6aqSXOYcOZMSjEg-ME__3yPzLFhoCWBcQAvD_BwE&gclsrc=aw.ds&hl=pt" target="_blank"><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a>
        <a href="https://angular.dev" target="_blank"><li><mat-icon>description</mat-icon>Angular</li></a>
        <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>